
.circle-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 45px solid transparent;
  }
  
  .circle:nth-child(1) { left: -119px; top: -159px; border-bottom-color: #e0e0e0; }
  .circle:nth-child(2) { left: 48px; top: 20px; border-bottom-color: #e0e0e0; border-top-color: #e0e0e0; border-right-color: #e0e0e0; }
  .circle:nth-child(3) { left: -106px; top: 209px; border-bottom-color: #e0e0e0; border-top-color: #e0e0e0; border-right-color: #e0e0e0; transform: rotate(180deg); }
  .circle:nth-child(4) { left: 249px; top: -120px; border-bottom-color: #e0e0e0; border-top-color: #e0e0e0; border-right-color: #e0e0e0; transform: rotate(10deg); }
  .circle:nth-child(5) { left: 50.5px; top: 396.5px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; }
  .circle:nth-child(6) { left: 225px; top: 569px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; transform: rotate(180deg); }
  .circle:nth-child(7) { left: 460px; top: 0; border-right-color: #e0e0e0; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; transform: rotate(-10deg); }
  .circle:nth-child(8) { left: 320px; top: 201px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; border-left-color: #e0e0e0; transform: rotate(260deg); }
  .circle:nth-child(9) { left: 514.5px; top: 350px; border-top-color: #e0e0e0; transform: rotate(-10deg); }
  .circle:nth-child(10) { left: 605px; top: 650px; border-top-color: #e0e0e0; border-left-color: #e0e0e0; transform: rotate(-60deg); }
  .circle:nth-child(11) { left: 395px; top: 745.5px; border-top-color: #e0e0e0; }
  .circle:nth-child(12) { left: 640px; top: 140px; border-right-color: #e0e0e0; transform: rotate(80deg); }
  .circle:nth-child(13) { left: 830px; top: 294.3px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; transform: rotate(-7deg); }
  .circle:nth-child(14) { left: 680px; top: 488px; border-color: #e0e0e0; }
  .circle:nth-child(15) { left: 899px; top: -171px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; transform: rotate(-20deg); }
  .circle:nth-child(16) { border-color: rgba(255, 255, 255, 0); left: 820px; top: 60px; border-left-color: #e0e0e0; border-top-color: #e0e0e0; transform: rotate(-30deg); }
  .circle:nth-child(17) { left: 945px; top: 505px; border-right-color: #e0e0e0; border-top-color: #e0e0e0; transform: rotate(30deg); }
  .circle:nth-child(18) { left: 945px; top: 65px; border-top-color: #e0e0e0; transform: rotate(45deg); }
  .circle:nth-child(19) { left: 1190px; top: 60px; border-color: #e0e0e0; transform: rotate(-45deg); }
  .circle:nth-child(20) { left: 1190px; top: 260px; transform: rotate(3deg); }
  .circle:nth-child(20)::before, .circle:nth-child(20)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 45px solid transparent;
    top: -44.5px;
    left: -50px;
  }
  .circle:nth-child(20)::before { transform: rotate(-143deg); border-top-color: #e0e0e0; }
  .circle:nth-child(20)::after { transform: rotate(-80deg); border-top-color: #e0e0e0; }
  .circle:nth-child(21) { left: 1190px; top: 505px; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; border-right-color: #e0e0e0; transform: rotate(45deg); }
  .circle:nth-child(22) { left: 1035px; top: 732px; border-bottom-color: #e0e0e0; border-left-color: #e0e0e0; transform: rotate(20deg); }
  .content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .soc-img {
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  :root {
      --base-padding: 3vw;
      --white-25: rgba(255,255,255,.25);
      --white-50: rgba(255,255,255,.5);
    }
    body {
      margin: var(--base-padding);
      font-family: system-ui;
    }
    
    /* * {
      box-sizing: border-box;
    }
     */
    section {
      display: block;
      min-height: 100vh;
      display: grid;
      place-items: center;
    }
    
    #rocket {
      width: 40px;
      height: 125px;
      background:
        linear-gradient(to right, transparent 45%, firebrick 45%, firebrick 55%, transparent 55%),
        radial-gradient(circle at 50% 40%, rgba(255,255,255,1) 10%, #aaa 11%, #aaa 15%, transparent 16%),
        linear-gradient(to right, transparent 50%, rgba(0,0,0,.1) 50%),    
        linear-gradient(to bottom, firebrick 12%, transparent 12%),
        lightgray;
      background-size: 100% 40%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
      background-position: 50% 95%, 0 0, 0 0, 0 0, 0 0;
      background-repeat: no-repeat;
      border-radius: 50px 50px 50px 50px / 200px 200px 10px 10px;  
      position: fixed;
      bottom: 0;
      
      box-shadow: 0 15px 0 -5px #666;
      filter: drop-shadow(0px -5px 2px rgba(0,0,0,.15));
      left: calc(50% - 20px);
    }
    
    #rocket:before {
      content:'';
      width: 200%;
      height: 50%;
      position: absolute;
      top: 55%;
      left: -50%;
      background: radial-gradient(circle at 50% 100%, transparent 50%, firebrick 51%);
  clip-path: polygon(0% 0%, 25% 0%, 25% 100%, 75% 100%, 75% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 100% 100% 0 0;
    }
    #rocket:after {
      content:'';
      width: 70%;
      height: 25%;
      position: absolute;
      top: 108%;
      left: 15%;
      background:
        linear-gradient(to bottom, orangered, gold);
      border-radius: 0 0 25% 25%;
      filter: blur(1px);
      opacity: .5;
      animation: blast_off .25s linear infinite;
    }
    
    @keyframes blast_off {
      33% { 
        background:
          linear-gradient(to bottom, orangered 25%, gold 75%);
      }
      66% { 
        background:
          linear-gradient(to bottom, orangered 50%, gold 90%);
      }
    }
    
    
    .shake_rocket {
      animation: shake .1s linear infinite;
    }
    @keyframes shake {
      25% { transform: translateX(-1px); }
      75% { transform: translateX(1px); }
    }
    
    #sky {
      min-height: 200vh;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background: 
        radial-gradient(circle at 75% 24%, rgba(255,255,255,.5) .25%, transparent .25%),
        radial-gradient(circle at 10% 23%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 98% 29%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 63% 10%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 20% 6%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 75% 5%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 35% 15%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 94% 10%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 55% 30%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 4% 40%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at 91% 35%, rgba(255,255,255,.25) .25%, transparent .25%),
        radial-gradient(circle at -1% 3%, rgba(0,0,0,.15) 2%, transparent 2.5%),
        radial-gradient(circle at 11% 6.5%, rgba(0,0,0,.15) 1%, transparent 1.5%),
        radial-gradient(circle at 15% 0%, rgba(0,0,0,.15) 2%, transparent 2.5%),
        radial-gradient(circle at 5% 8%, rgba(0,0,0,.15) 2%, transparent 2.5%),
        radial-gradient(circle at -5% -5%, rgba(255,255,255,.15) 9%, transparent 10%),
        radial-gradient(circle at 0% 0%, #888 10%, transparent 12%),
        linear-gradient(to top, beige, #306);
      z-index: -1;
    }
    
    #exhaust {
      width: 400px;
      height: 100px;
      position: fixed;
      bottom: -50px;
      left: calc(50% - 200px);
      opacity: 0;
      transform-origin: 50% 100%;
      transition: 1s;
    }
    #exhaust:after {
      content: '';
      width: 400px;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      filter: blur(1px) drop-shadow(0px -5px rgba(0,0,0,.025));
      animation: shake .1s linear infinite;
    }
    
    .exhaust {
      opacity: 1 !important;
      bottom: 0 !important;
    } 
  
    /* Soc-content */
     
    body {
      margin: 0;
      background: #fff;
      font-family: sans-serif;
      background: linear-gradient(120deg, #5c2fa6 13.57%, #5a36c0 98.38%);
      scroll-behavior: none;
   }
    .title {
      line-height: 1.1;
      padding-bottom: 0.4em;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
   }
    .text {
      line-height: 1.4;
      overflow: hidden;
      padding-bottom: 20px;
      color: rgba(255, 255, 255, 0.7);
   }
    .accordions {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20vh;
   }
    .accordion {
      background: linear-gradient(200deg, #1d91fc 13.57%, #5a36c0 98.38%);
      padding: 25px 30px 10px;
      border-radius: 15px;
      margin-bottom: 40px;
      box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
   }
    .accordion:nth-child(2) {
      background: linear-gradient(200deg, #f28885 13.57%, #e94f66 98.38%);
   }
    .accordion:nth-child(3) {
      background: linear-gradient(200deg, #65bb76 13.57%, #466fab 98.38%);
   }
    .accordion:nth-child(4) {
      background: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
   }
    .spacer {
      height: 70vh;
   }
    @media (max-width: 480px) {
      .accordion {
        padding: 15px 20px 8px;
     }
      .title {
        font-size: 20px;
     }
   }
    

    /* Timeline  */
    section {
      padding: 100px 0;
   }
    html, body {
      overflow-x: hidden;
   }
    body {
      font-family: 'Roboto';
      font-size: 17px;
      font-weight: 400;
      background-color: #e5e5e7;
   }
    h1 {
      font-size: 200%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
   }
    header {
      background: #3f51b5;
      color: #fff;
      padding: 150px 0;
   }
    header p {
      font-family: 'Allura';
      color: rgba(255, 255, 255, .2);
      margin-bottom: 0;
      font-size: 60px;
      margin-top: -30px;
   }
    .timeline-vertical {
      position: relative;
   }
    .timeline-vertical::before {
      content: '';
      background: #c5cae9;
      width: 5px;
      height: 95%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }
    .timeline-item {
      width: 100%;
      margin-bottom: 70px;
   }
    .timeline-item:nth-child(even) .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;
   }
    .timeline-item:nth-child(even) .timeline-content .date {
      right: auto;
      left: 0;
   }
    .timeline-item:nth-child(even) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
   }
    .timeline-item::after {
      content: '';
      display: block;
      clear: both;
   }
    .timeline-content {
      position: relative;
      width: 45%;
      padding: 10px 30px;
      border-radius: 4px;
      background: #f5f5f5;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
   }
    .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      right: -15px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #f5f5f5;
   }
    .timeline-img {
      width: 30px;
      height: 30px;
      background: #3f51b5;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-top: 25px;
      margin-left: -15px;
   }
    a {
      background: #3f51b5;
      color: #fff;
      padding: 8px 20px;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 10px;
      display: inline-block;
      border-radius: 2px;
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
   }
    a:hover, a:active, a:focus {
      background: #32408f;
      color: #fff;
      text-decoration: none;
   }
    .timeline-card {
      padding: 0 !important;
   }
    .timeline-card p {
      padding: 0 20px;
   }
    .timeline-card a {
      margin-left: 20px;
   }
    .timeline-item .timeline-img-header {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
      background-size: cover;
   }
    .timeline-img-header {
      height: 200px;
      position: relative;
      margin-bottom: 20px;
   }
    .timeline-img-header h2 {
      color: #fff;
      position: absolute;
      bottom: 5px;
      left: 20px;
   }
    blockquote {
      margin-top: 30px;
      color: #757575;
      border-left-color: #3f51b5;
      padding: 0 20px;
   }
    .date {
      background: #ff4081;
      display: inline-block;
      color: #fff;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
   }
    @media screen and (max-width: 768px) {
      .timeline-vertical::before {
        left: 50px;
     }
      .timeline-vertical .timeline-img {
        left: 50px;
     }
      .timeline-vertical .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
     }
      .timeline-vertical .timeline-item:nth-child(even) .timeline-content {
        float: none;
     }
      .timeline-vertical .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
     }
   }
    
   .timeline-item {
    position: relative;
    animation: slideIn 2s;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
