
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}
.svg-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  width: 300px;
  height: 110px;
  z-index: 3;
}
.content {
  margin-top:0;
  font-size: 18px;
  display: flex;
  flex-direction: column;

}
.content0{
background-color: #000000;
  height:110vh;
  width:100%;

}
.content1 {
  position: relative;

  font-size: 18px;
  display: grid;
  top:0px;
  left:0;
  margin: 0px 15px 15px 0px ;
  grid-template-columns: 0.5fr 1fr;
  background-image: linear-gradient(to right, #010044 20%,  #00000080 100%);

}
.scrolled-up .svg-container {
  top: 30px;
  left: 30px;
  transform: translate(0, 0);
  width: 150px;
  height: 26px;
}
#word {
  color: rgb(255, 255, 255); 
  font-size: 28px;
  font-family: monospace, sans-serif;

  /* Change the color here */
}

/* For Search button*/
.searchBox {
  display: none;
  background: #275595;
  height: 30px;
  border-radius: 40px;
  padding:5px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #737373;
}

.fa-search {
  position: relative;
  color: rgb(97, 97, 97);
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.fa-search:hover{
  color: white;
}
.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;

}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

/* Base styles for the navbar */
.navbar {
  position: fixed;
  top: 0px;
  right: 0px; 
  display: none; /* Hide by default */
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 70px;
  z-index: 3;
  background-color: #000000;
}

.scrolled .navbar {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: fixed; /* Make the navbar fixed */
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Navbar right section */
.navright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  margin-right: 20px;
}

/* Responsive navbar styles */
.nav-responsive {
  display: none;
  padding-left: 70px; /* Add margin to push down the links */
  padding-top: 20px;
}

.nav-responsive a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
}

/* Hamburger menu container */
.container {
  display: none;
  cursor: pointer;
  padding: 5px;
  background-color: #2c2c2c00;
  color: aliceblue;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #fcfcfc;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger menu transformation */
.change .bar1 {
  transform: translateY(8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-8px) rotate(45deg);
}
svg:hover {
  fill: initial;
}

/* Navbar links */
.navbar a {
  color: #737373;
  text-decoration: none;
  
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.navbar a:hover{
  color:#ffffff
}
div.nav-desktop a:before, div.nav-desktop a:after
{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #ffffff;
  transition: all 0.3s;
}

div.nav-desktop a:before
{
  left: 0px;
  top: 0px;
}

div.nav-desktop a:after
{
  right: 0px;
  bottom: 0px;
}

div.nav-desktop a:hover:before, div.nav-desktop a:hover:after
{
  opacity: 1;
  width: 100%;
}

/* List items style reset */
li {
  list-style-type: none;
}

.left1 {
  position: relative;
  top:100px
}
.circle-container {
  width: 100%;
  height: 100vh; /* Full height viewport */
  position: relative; /* For absolute positioning of inner circles */
}
.dotted-circle {
  left: -70%;
  width: 100%; /* 50% of the container's width */
  height: 70%;
  padding-bottom: 0%; /* This makes the element's height equal to its width */
  border: 5px dotted rgb(114, 114, 114); /* Border width and style */
  border-radius: 50%; /* Makes it a circle */
  position: relative; /* For absolute positioning of inner circles */
}
.small-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* 10% of the large circle's width */
  height: 80px; /* Keep it square */
  background-color: #275595; /* Color of the small circles */
  border-radius: 50%; /* Make it a circle */
  position: relative;
transition: all 0.5s ease;
}

/* Calculate positions using trigonometry for 35-degree intervals */
.circle3 {
  top: 38%; /* Center vertically */
  left: 99%; /* Rightmost point */
  transform: translate(-50%, -50%);
}
.circle2 {
  top: 0%; /* 50% - 50% * sin(35deg) */
  left: 85%; /* 50% + 50% * cos(35deg) */
  transform: translate(-50%, -50%);
}
.circle1 {
  top: 36%; /* 50% - 50% * sin(70deg) */
  left: 98%; /* 50% + 50% * cos(70deg) */
  transform: translate(-50%, -50%);
}
.circle4 {
  top: 45%; /* Center vertically */
  left: 85%; /* 50% + 50% * cos(105deg) */
  transform: translate(-50%, -50%);
}

.circle-obj{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* 10% of the large circle's width */
  height: 60px; /* Keep it square */
  background-color: #000000; /* Color of the small circles */
  border-radius: 50%;
}

#CcpC{
  color: #fcfcfc;
  font-size: 40px;
  font-family: 'Segoe U';
}

.right1{
  display: none;
  transition: all 0.5s ease;
position: relative;
top:5%;
opacity: 0.6;

}
.box-detail-C1{

  background-color:#f30f0f;
  position: absolute;
  left: 0px;
  top:20px;
  height: 260px;
  width: 260px;
  border-radius: 70% 70% 0% 70% ;
  padding:10px 20px 10px 20px;
  box-shadow:-4px 0 8px rgba(0, 0, 0, 0.3), /* Left shadow */
              0 -4px 8px rgba(0, 0, 0, 0.3); /* Top shadow */
}

.box-detail-c{
  background-color: #008000;
  position: absolute;
  left: 340px;
  top: 20px;;
  height: 260px;
  width: 260px;
  border-radius: 70% 70% 70% 0%  ;
  padding:10px 20px 10px 20px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3), /* Right shadow */
            0 -4px 8px rgba(0, 0, 0, 0.3); /* Top shadow */
}
.box-detail-p{
  background-color: #FFC500;
  position: absolute;
  left: 340px;
  top:340px;
  height: 260px;
  width: 260px;
  border-radius: 0% 70% 70% 70% ;
  padding:10px 20px 10px 20px;

  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3), /* Right shadow */
            0 4px 8px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

.box-detail-C2{
  background-color: #00B2FF;
  position: absolute;
  left:0px;
  top:340px;
  height: 260px;
  width: 260px;
 
  border-radius: 70% 0% 70% 70% ;
  padding:10px 20px 10px 20px;
  box-shadow:-4px 0 8px rgba(0, 0, 0, 0.3), /* Left shadow */
            0 4px 8px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

h2{
  padding:10px 20px 0px 20px;
  margin-bottom: 0px;
}
#right1{
  padding-left:25px;
  margin-right: 10px;
}
.admin{
  margin: 0px 0px 15px 15px;
  display: grid;
  background-image: linear-gradient(to left, #010044 20%,  #00000080 100%);
  grid-template-rows: 1fr 1fr;
  height: 400px;
  max-height: 800px;

}
.admin-top{
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.circle-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border-radius: 50%;

}
.circle-img img{
  border-radius: 50%;
  max-height: 200px;
  border: #ffffff solid 3px;
}
.admin-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-admin{
display: flex;
justify-content: center;
align-items: center;

}
.left-admin img{
max-height: 70%;
max-width: 70%;
}
.right-admin{

  display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.right-admin p{
  margin-left: 15px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.box{
  background-color: rgb(171, 171, 171);
  max-height: calc(100%);
  max-width: calc(100% - 60px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.734);
}
.content2{
  margin: 0px 15px 0px 0px ;
  background-image: linear-gradient(to right, #010044 20%,  #00000080 100%);
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left2{
  display: flex;
flex-wrap:wrap;
grid-template-columns: 1fr 1fr;
justify-content: left;
align-items: flex-start;
background-color: #f1f1f100;
padding: 20px;
margin-left : 20px;
}
#slideshow-container {
position: relative;
max-width: 90%;
overflow: hidden;
border: 10px solid #ccc; /* Border style with 10px width */
border-radius: 8px; /* Rounded corners */
position: relative; /* Ensure relative positioning for absolutely positioned elements */
}
#slideshow {
position: relative;
max-width: 100%;
overflow: hidden;
}

.slide-container {
position: relative;
}

.slide {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
background-color: #ccc; /* Background color of the overlay */
padding: 5px 10px; /* Adjust padding as needed */
border-radius: 0 9px 0 0px; /* Rounded corners */
}
.right2{
}
.event-box{
background-color: #e8d5dade;
height: auto;
padding-left: 20px;
padding-right: 10px;
border-radius: 50px;
margin-right: 5px;
}
.add-flex{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.content3{
margin:15px 0px 15px 15px ;
background-image: linear-gradient(to left, #010044 20%,  #00000080 100%);
display: grid;
grid-template-columns: 1.5fr 1fr;

}

.right3 {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  background-image: url('/img/soc.jpg');
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  position: relative; /* Required for positioning the link absolutely */
}

.right3 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline from link text */
  color: inherit; /* Inherit the color of the parent element */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1; /* Ensure the link is on top of the background */
}
.left3{
position: relative;
background-color: #f1f1f100;


}
.Soc-detail1{
position: relative;
background-color: #4285F4;
width: calc(50%);
height: calc(10% + 10px);
left:50%;
top:2%;
border-radius: 50px 0 0 50px;
}
.SoC-Ans{
position: relative;
padding-left: 5px;
left:0 !important;
background-color: #FBBC05;
width: calc(60%);
top:2%;
height: auto;
border-radius: 0 50px 50px 0;
margin: 10px 0;
}
#left3{
font-size: 20px;
margin: 5px;
}

.content4{
display: grid;
grid-template-columns: 3fr 1fr;
background-image: linear-gradient(to right, #010044 20%,  #00000080 100%);
margin:0px 15px 15px 0px ;
}
.left4{
padding: 20px;
}


.Studentbody{
display: grid;
grid-template-rows: 1fr 2fr;

height: 400px;
background-color: #ffffff00;


}
.image-frame {
display: flex;
position: relative;
}

.image-frame img {
height: auto;
position: absolute;
display: block;
border-radius: 50% 50% 0 0;
cursor: pointer;
transition: box-shadow 0.2s;
}
.image-frame img:hover {
filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
 }
 /*
.center-bottom-image {
max-width: 200px ;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.top-left-image {
max-width: 180px;
position: absolute;
top: 54%;
left: 30%;
transform: translate(-55%, -52%);
}

.top-right-image {
max-width: 180px;
position: absolute;
top: 54%;
left: 70%;
transform: translate(-45%, -53%);
}

.bottom-image {
max-width: 175px;
position: absolute;
top: 53%;
left: 92%;
transform: translate(-55%, -52%);
}
.bottom1-image {
max-width: 165px;
position: absolute;
top: 32%;
left: 81%;
transform: translate(-55%, -52%);
}
.bottom-left-image {
max-width: 180px;
position: absolute;
top: 53%;
left: 10%;
transform: translate(-50%, -51%);
}

.bottom-right-image {
max-width: 180px;
position: absolute;
top: 34%;
left: 62.5%;
transform: translate(-55%, -52%);
}

.left-image {
max-width: 185px;
position: absolute;
top: 34%;
left: 40%;
transform: translate(-55%, -52%);

}

.right-image {
max-width: 190px;
position: absolute;
} */
 /* Positioning the images */
 
.top-left1-image { max-width: 200px; top: 34%;left: 20%;transform: translate(-52%, -53%); z-index: 1; }
.top-left2-image { max-width: 185px; top: 34%;left: 40%;transform: translate(-55%, -52%); z-index: 1; }
.top-right1-image { max-width: 180px; top: 34%;left: 62.5%;transform: translate(-55%, -52%); z-index: 1; }
.top-right2-image {  max-width: 165px;top: 32%;left: 81%;transform: translate(-55%, -52%); z-index: 1; }
.bottom-left1-image {   max-width: 179px;top: 53%;left: 10%;transform: translate(-50%, -51%);z-index: 2; }
.bottom-left2-image {   max-width: 187px;top: 54%;left: 30%;transform: translate(-57%, -53%); z-index: 2; }
.bottom-right1-image { max-width: 180px; top: 54%;left: 70%;transform: translate(-45%, -53%); z-index: 2;}
.bottom-right2-image { max-width: 175px;top: 53%;left: 92%;transform: translate(-55%, -52%); z-index: 2;  }
.center-bottom-image { max-width: 200px ;top: 50%;left: 50%;transform: translate(-50%, -50%); z-index: 2; }

.terminal {
display: block;
background-color: #1e1e1e;
color: #c5c8c6;
font-family: 'Monaco', monospace;
padding: 20px;
width: 600px;;
height: 380px;
border-radius: 0 0px 10px 10px;
margin: 0 20px 20px 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
white-space: pre-wrap;
overflow-wrap: break-word;
overflow: auto;
line-height: 1.2;
box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}

.blinking-cursor {
display: inline-block;
width: 10px;
background-color: #d4d4d4;
animation: blink 1s infinite;
}
@keyframes blink {
0%, 100% { background-color: #d4d4d4; }
50% { background-color: transparent; }
}
.red-text {
color: red;
}
.green-text {
color: green;
}
/* Additional styling to simulate Mac terminal */
.terminal-header {
display: flex;
justify-content: flex-start;
align-items: center;
background-color: #333;
padding: 5px;
margin: 20px 20px 0px 20px;
border-radius: 5px 5px 0 0;
box-shadow: 0 12px 25px rgba(0, 0, 0, 0.8);
}
.terminal-header .button {
width: 12px;
height: 12px;
border-radius: 50%;
margin: 0 5px;
}
.button.red {
background-color: #ff5f56;
}
.button.yellow {
background-color: #ffbd2e;
}
.button.green {
background-color: #27c93f;
}


@media (max-width:932px) {
  html,
  body {
    background-size: cover;
  }
  .scrolled-up .svg-container {
      top: 30px;
      left: 50px;
      transform: translate(0, 0);
      width: 10px; 

  }
  .navbar{
      width: 100%;
      background:black;
  }
.navright {
  
  display: flex;
  justify-items: end;
  align-items: center;
  background:black;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 0;
  z-index: 3;
}
.nav-desktop {
  display: none;
}

.searchBox {
  display: none;
  position: relative;
  background: #275595;
  height: 25px;
  border-radius: 40px;
  right: 20px;
  padding:7px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.fa-search {
  position: relative;
  color: white;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 10px;
  width: 0px;

}

.nav-responsive {
  display: none;
}

.container {
  display: block;
}

.container .bar1,
.container .bar2,
.container .bar3 {
  display: block;
  position: relative;
  right: 20px;
}
.navbar a {

    margin: 0 10px; /* Adjust margin for smaller screens */
}
.left1 {
  position: relative;
  top:calc(50% - 150px);
}
.small-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* 10% of the large circle's width */
  height: 40px; /* Keep it square */
  background-color: #275595; /* Color of the small circles */
  border-radius: 50%; /* Make it a circle */
  position: relative;
transition: all 0.5s ease;
}

/* Calculate positions using trigonometry for 35-degree intervals */
.circle3 {
  top: 38%; /* Center vertically */
  left: 99%; /* Rightmost point */
  transform: translate(-50%, -50%);
}
.circle2 {
  top: 0%; /* 50% - 50% * sin(35deg) */
  left: 85%; /* 50% + 50% * cos(35deg) */
  transform: translate(-50%, -50%);
}
.circle1 {
  top: 36%; /* 50% - 50% * sin(70deg) */
  left: 98%; /* 50% + 50% * cos(70deg) */
  transform: translate(-50%, -50%);
}
.circle4 {
  top: 45%; /* Center vertically */
  left: 85%; /* 50% + 50% * cos(105deg) */
  transform: translate(-50%, -50%);
}

.circle-obj{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* 10% of the large circle's width */
  height: 30px; /* Keep it square */
  background-color: #000000; /* Color of the small circles */
  border-radius: 50%;
}

#CcpC{
  color: #fcfcfc;
  font-size: 20px;
  font-family: 'Segoe U';
}
.right1{
  display: none;
  transition: all 0.5s ease;
position: relative;
top:calc(50% - 150px);

}
.box-detail-C1{

  position: absolute;
  left: 0px;
  top:10px;
  height: 120px;
  width: 120px;
  border-radius: 70% 70% 0% 70% ;
  padding:10px 20px 10px 20px;
  box-shadow:-4px 0 8px rgba(0, 0, 0, 0.3), /* Left shadow */
              0 -4px 8px rgba(0, 0, 0, 0.3); /* Top shadow */
}

.box-detail-c{
  position: absolute;
  left:calc(120px + 20px + 20px + 10px);
  top:10px;
  height: 120px;
  width: 120px;
  border-radius: 70% 70% 70% 0%  ;
  padding:10px 20px 10px 20px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3), /* Right shadow */
            0 -4px 8px rgba(0, 0, 0, 0.3); /* Top shadow */
}
.box-detail-p{
  position: absolute;
  left:calc(120px + 20px + 20px + 10px);
  top:calc(120px + 10px + 20px + 10px);
  height: 120px;
  width: 120px;
  border-radius: 0% 70% 70% 70% ;
  padding:10px 20px 10px 20px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3), /* Right shadow */
            0 4px 8px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

.box-detail-C2{
  position: absolute;
  left:0px;
  top:calc(120px + 10px + 20px + 10px);
  height: 120px;
  width: 120px;
  border-radius: 70% 0% 70% 70% ;
  padding:10px 20px 10px 20px;
  box-shadow:-4px 0 8px rgba(0, 0, 0, 0.3), /* Left shadow */
            0 4px 8px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

h2{
  font-size: 12px;
  padding:5px 0px 0px 5px;
  margin-bottom: 0px;
}
#right1{
  font-size: xx-small;
  padding-left:5px;
  width: 100%;
  margin-top: 0px;

}
.admin{
  margin: 0px 0px 15px 15px;
  display: flex;
  grid-template-columns: 0.5fr 1fr;
  max-height: 600px;
  min-height: 500px;
  color: white;
}
.admin h2{
  font-size: larger;

}
.admin-top{
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.circle-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border-radius: 50%;

}
.circle-img img{
  border-radius: 50%;
  max-height: 200px;
  border: #ffffff solid 3px;
}
.admin-bottom{
  display: flex;
  flex-direction: column;

}
.left-admin{
display: flex;
justify-content: center;
align-items: center;

}
.left-admin img{
max-height: 70%;
max-width: 70%;
}
.right-admin{
margin-top: 10px;
  display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
.right-admin p{
  margin-left: 15px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.box{
  color:#000000;
  max-height: calc(100%);
  max-width: calc(100% - 60px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.734);
}
.content2{
margin: 0px 15px 0px 0px ;
grid-template-columns: 1.5fr 1fr;
}
#slideshow-container {
position: relative;
max-width: 80%;
overflow: hidden;
border: 10px solid #ccc; /* Border style with 10px width */
border-radius: 8px; /* Rounded corners */
position: relative; /* Ensure relative positioning for absolutely positioned elements */
}
.event-box{
  height: calc(100% - 40px);
  margin-left: auto;
  padding:10px 10px 20px 20px;
  }
  #Event {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
  }
  #right2{
  font-size: 18px;
  padding-left: 5px;
  margin:2px;
  }
.content3{

margin: 15px 0px 15px 15px;
grid-template-columns: 1fr 1fr;
}
.right3 img{
width: 100%;
height: auto;
}
.left3{
position: relative;
background-color: #f1f1f100;
top:0%;

}
.Soc-detail1{
position: relative;
background-color: #4285F4;
width: calc(60%);
height: calc(10% + 10px);
left:40%;
top:2%;
border-radius: 50px 0 0 50px;
}
.SoC-Ans{
position: relative;
padding-left: 5px;
left:0 !important;
background-color: #FBBC05;
width: calc(90%);
top:2%;
height: auto;
border-radius: 0 50px 50px 0;
margin: 10px 0;
}
#left3{
font-size: 16px;
margin: 2px;
}
#soc{
font-size: 20px;
}
.content4 {
display: flex;
margin:0px 15px 15px 0px ;
flex-direction: column;
}
.left4{
padding: 20px;
}


.Studentbody{
height: 70vh;
width: 100%;
margin-bottom: 20px;
background-color: #ffffff00;
}
.image-frame{
  margin-top: 30px;
}
.image-frame img {
height: auto;
display: block;

}
.center-bottom-image { max-width: 200px ;top: 50%;left: 50%;transform: translate(-50%, -52.5%); z-index: 2; }

.terminal {
display: block;
background-color: #1e1e1e;
color: #c5c8c6;
font-family: 'Monaco', monospace;
padding: 20px;
width:auto;
height: 270px;
border-radius: 0 0px 10px 10px;
margin: 0 20px 20px 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
white-space: pre-wrap;
overflow-wrap: break-word;
overflow: auto;
line-height: 1;

}

.red-text {
color: #ff5f56; /* macOS terminal red text color */
}

@keyframes blink {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}

.blinking-cursor {
font-weight: bold;
font-size: 1em;
color: #c5c8c6; /* Cursor color matches the text color */
animation: blink 1s step-end infinite;
}
.center-image {
max-width: 160px ;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -55%);
}

.top-left-image {
max-width: 140px;
position: absolute;
top: 54%;
left: 30%;
transform: translate(-35%, -52%);
}
.top-right-image {
max-width: 140px;
position: absolute;
top: 54%;
left: 70%;
transform: translate(-62%, -53%);
}

.bottom-image {
max-width: 135px;
position: absolute;
top: 53%;
left: 92%;
transform: translate(-100%, -52%);
}
.bottom1-image {
max-width: 125px;
position: absolute;
top: 32%;
left: 81%;
transform: translate(-85%, -52%);
}
.bottom-left-image {
max-width: 140px;
position: absolute;
top: 53%;
left: 5%;
transform: translate(20%, -51%);
}

.bottom-right-image {
max-width: 140px;
position: absolute;
top: 34%;
left: 60%;
transform: translate(-55%, -52%);
}

.left-image {
max-width: 135px;
position: absolute;
top: 34%;
left: 42%;
transform: translate(-55%, -52%);

}

.right-image {
max-width: 150px;
position: absolute;
}

}
.rotate-message {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
text-align: center;
z-index: 1000;
}
/* Hide the main content when in portrait mode */
.hidden {
display: none;
}


/* footer*/
.contact{
  position: relative;

  padding-top:10px;
  justify-content: space-around;
  display:flex;
}
.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locate{
  display: flex;
  flex-direction: column;

}
.social-connection {
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  color: #d2edfc; /* You can style the color of the icons here */
  font-size: 24px; /* Adjust the size of the icons as needed */
  transition: transform 0.3s ease;
}

.social-link:hover {

  transform: scale(1.2);
}
/* Style for LinkedIn icon */
.linkedin:hover {
color: #0077b5; /* Change to LinkedIn color on hover */
}

/* Style for Instagram icon */
.instagram:hover {
color: #bc2a8d; /* Change to Instagram color on hover */
}

/* Style for GitHub icon */
.github:hover {
color: #ffffff; /* Change to GitHub color on hover */
}
.social-connection img {
width: 10px;
height: 10px;
margin: 10px;

}

.University {
height: 38px;
justify-content: center;
}
.University img {
  display: none;
  /* width: 100px; */
  height: 38px;
}

.DCSE  a {
color: white; /* Default color for the link */
text-decoration: none; /* Remove underline */
display: flex;
justify-content: center;
padding-top: 2px;
}

.mail a{
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding-right: 5px;
}
.address p{
  color: white !important;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.footer-credit{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  
}
.copyright {
display: flex;
justify-content: center;
color: rgb(95, 110, 171);

}

.copyright p {
font-size: 18px; /* Adjust the font size as needed */
}
.credit {
color: white;
display:flex;
justify-content: center;
text-decoration: none;
position: absolute;
left: 0;

padding-left: 5%;

}
.credit a {
text-decoration: none;
color: #b94141;
mix-blend-mode: difference;
}
hr{
  margin: 30px 0 5px 0;
  border-color: rgb(95, 110, 171);
}